<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.birjot.news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NEWS1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lang1" />
        <activity android:name=".Lang2" />
        <activity android:name=".Lang3" />
        <activity android:name=".customlist1" />
        <activity android:name=".web" />
        <activity android:name=".customlist2" />
        <activity android:name=".customlist3" />
        <activity android:name=".customlist4" />
        <activity android:name=".customlist5" />
        <activity android:name=".customlist6" />
        <activity android:name=".customlist7" />
        <activity android:name=".customlist8" />
        <activity android:name=".customlist9"></activity>
    </application>

</manifest>